body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

#urlInput {
  width: 60%;
  padding: 10px;
}

#progressContainer {
  width: 60%;
  background: #ddd;
  height: 20px;
  margin: 20px auto;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: green;
  transition: width 0.5s;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
#test-btn{
    margin-top: 20px;
    height: 70px;
    width: 400px;
    color: white;
    background-color: black;
    font-size: 30px;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
}
#deep{
  margin-top: 20px;
}
.main{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
}

#deepScanToggle{
  margin-top: 30px;
}

#deep{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#urlInput{
  border-radius: 30px;
  height: 30px;
  font-size: 25px;
  text-align: center;
}